Prepare dataframe for spell-checking with boyd. Also create a smaller test set.

In [1]:
# Optional: Determine splits of shell command into arguments
# shlex can determine correct tokenization for args

#import shlex
#command_line = input()
#args = shlex.split(command_line)
#print(args)

 esx

['esx']

In [1]:
import pandas
import sys
sys.path.insert(0, '/Users/lisaprepens/_Programmierung/bodu-spell/spelling_correction')
from Lisa import litkey_2

In [3]:
# DETERMINE DF NUM TUPEL COUNTS
# df is data errors
# count is number of tupels
error_types_cs = litkey_2.load(litkey_data_path = "../../litkey-data/")
error_types_cs_count = error_types_cs[['original','corrected','freq_tup']]

In [16]:
error_types_cs_count.head(100)
error_types_cs_count.shape[0]

9484

In [5]:
# Export to csv
error_types_cs_count.to_csv('Input/2021-04-14_litkey_2_error_types_cs_count.tsv', sep='\t', header=False, index=False)

In [13]:
# NO COUNTS
error_types_cs_NO_COUNT = error_types_cs_count.iloc[:,:2]
display(error_types_cs_NO_COUNT)

In [15]:
error_types_cs_count.to_csv('Input/2021-04-14_litkey_2_error_types_cs_NO_COUNT.tsv', sep='\t', header=False, index=False)

In [6]:
# determine smaller data set
error_types_cs_count.shape[0]
errors_100 = error_types_cs_count.iloc[:100,:]
display(errors_100)
type(errors_100)

     original  corrected  freq_tup
0        belt      bellt        91
1        kukt      kuckt        73
2         dan       dann       621
3    gekricht   gekriegt         2
4       leken     lecken        14
..        ...        ...       ...
95    Hinther  hinterher         1
96       sint       sind        20
97          i         in         1
98  eiswargen   Eiswagen         1
99         si        sie        46

[100 rows x 3 columns]

pandas.core.frame.DataFrame

In [7]:
# Export to csv
errors_100.to_csv('Input/smaller_data_sets/2021-04-14_litkey_2_error_types_cs_count_100.tsv', sep='\t', header=False, index=False)

In [10]:
# NO COUNTS
errors_100_no_count = errors_100.iloc[:,:2]

In [11]:
display(errors_100_no_count)

     original  corrected
0        belt      bellt
1        kukt      kuckt
2         dan       dann
3    gekricht   gekriegt
4       leken     lecken
..        ...        ...
95    Hinther  hinterher
96       sint       sind
97          i         in
98  eiswargen   Eiswagen
99         si        sie

[100 rows x 2 columns]

In [12]:
errors_100_no_count.to_csv('Input/smaller_data_sets/2021-04-14_litkey_2_error_types_cs_NO_COUNT_100.tsv', sep='\t', header=False, index=False)