- Results of norma normalization are contained in _norma_hunspell_df.csv_

In [1]:
import pandas as pd

In [2]:
# Type df
norma_error_types = pd.read_csv('norma_hunspell_df_new.csv', sep='\t')

In [3]:
norma_error_types.head(40)

,original,corrected,filename,freq_ori,freq_cor,freq_tup,norma_correction,confidence
0,belt,bellt,01-005-2-III-Eis.csv,91,138,91,Bild,0.500000
1,kukt,kuckt,01-005-2-III-Eis.csv,73,152,73,Guckt,0.250000
2,dan,dann,01-005-2-III-Eis.csv,627,651,621,Da,0.333333
3,gekricht,gekriegt,01-005-2-III-Eis.csv,2,15,2,gekriegt,0.012515
4,leken,lecken,01-005-2-III-Eis.csv,14,17,14,lecken,0.476719
5,felt,fällt,01-005-2-III-Eis.csv,93,198,90,fällt,1.000000
6,wolte,wollte,01-005-2-III-Eis.csv,173,201,173,wollte,1.000000
7,lekt,leckt,01-005-2-III-Eis.csv,20,42,19,leckt,1.000000
8,fom,vom,01-005-2-III-Eis.csv,13,16,13,vom,1.000000
9,gawen,kaufen,01-006-2-III-Eis.csv,1,6,1,garen,0.413648
10,din,ein,01-006-2-III-Eis.csv,2,26,1,drin,0.500000
11,Keld,Geld,01-006-2-III-Eis.csv,1,5,1,Geld,0.352232
12,man,Mann,01-006-2-III-Eis.csv,79,132,79,Mann,1.000000
13,gien,gehen,01-006-2-III-Eis.csv,1,78,1,ging,1.000000
14,nahaise,nachhause,01-006-2-III-Eis.csv,1,10,1,nachweise,0.072276
15,esen,essen,01-006-2-III-Eis.csv,22,14,12,Essen,0.500000
16,aba,aber,01-006-2-III-Eis.csv,21,60,21,aber,1.000000
17,gieben,geben,01-006-2-III-Eis.csv,1,3,1,Kienen,0.085412
18,wollt,wollte,01-006-2-III-Eis.csv,2,201,2,wollt,0.657316
19,feid,fällt,01-006-2-III-Eis.csv,1,198,1,feit,0.461679
20,gen,gehen,01-012-2-III-Eis.csv,31,78,31,gehen,1.000000
21,wil,will,01-012-2-III-Eis.csv,95,157,95,will,1.000000
22,gipt,gibt,01-012-2-III-Eis.csv,18,42,18,gibt,1.000000
23,ter,der,01-012-2-III-Eis.csv,1,9,1,Tee,1.000000
24,ap,ab,01-012-2-III-Eis.csv,26,30,26,ab,0.500000
25,ale,alle,01-012-2-III-Eis.csv,34,39,33,alle,1.000000
26,frölich,fröhlich,01-012-2-III-Eis.csv,51,92,51,fröhlich,1.000000
27,siend,sind,01-025-2-III-Eis.csv,16,66,16,sind,1.000000
28,weitagegangen,weitergegangen,01-025-2-III-Eis.csv,1,1,1,weitergegangen,0.639736
29,natürlig,natürlich,01-025-2-III-Eis.csv,1,19,1,natürlich,0.274731
30,üder,über,01-025-2-III-Eis.csv,8,35,8,über,0.541025
31,ier,ihr,01-025-2-III-Eis.csv,7,40,6,ihr,0.239382
32,runder,runter,01-025-2-III-Eis.csv,18,60,18,Ohr,1.000000
33,harden,haben,01-025-2-III-Eis.csv,2,19,2,hauchten,0.047344
34,schneel,schnell,01-025-2-III-Eis.csv,1,76,1,schnell,0.443746
35,haten,hatten,01-025-2-III-Eis.csv,53,55,53,Atem,0.333333
36,arder,aber,01-025-2-III-Eis.csv,3,60,3,erde,0.162495
37,gugel,Kugel,01-025-2-III-Eis.csv,1,3,1,kugel,0.678627
38,hate,hatte,01-025-2-III-Eis.csv,400,427,400,hatte,1.000000
39,geld,gelb,01-025-2-III-Eis.csv,1,1,1,Geld,1.000000

In [4]:
norma_error_types.shape[0]

9484

In [5]:
# Map to token
token = pd.read_csv('../datasets_litkey_export/data_error_token_cs.csv', sep='|')

In [6]:
token.head(10)
#token.shape[0]

   original corrected              filename  freq_ori  freq_cor  freq_tup
0      belt     bellt  01-005-2-III-Eis.csv        91       138        91
1      kukt     kuckt  01-005-2-III-Eis.csv        73       152        73
2       dan      dann  01-005-2-III-Eis.csv       627       651       621
3  gekricht  gekriegt  01-005-2-III-Eis.csv         2        15         2
4     leken    lecken  01-005-2-III-Eis.csv        14        17        14
5      felt     fällt  01-005-2-III-Eis.csv        93       198        90
6     wolte    wollte  01-005-2-III-Eis.csv       173       201       173
7      lekt     leckt  01-005-2-III-Eis.csv        20        42        19
8       fom       vom  01-005-2-III-Eis.csv        13        16        13
9       dan      dann  01-005-2-III-Eis.csv       627       651       621

In [7]:
norma_error_types[norma_error_types.norma_correction.isna()]

Empty DataFrame
Columns: [original, corrected, filename, freq_ori, freq_cor, freq_tup, norma_correction, confidence]
Index: []

In [8]:
norma_error_types.rename(columns={'norma_correction':'suggestions'}, inplace=True)

In [9]:
norma_error_types.head(20)

,original,corrected,filename,freq_ori,freq_cor,freq_tup,suggestions,confidence
0,belt,bellt,01-005-2-III-Eis.csv,91,138,91,Bild,0.500000
1,kukt,kuckt,01-005-2-III-Eis.csv,73,152,73,Guckt,0.250000
2,dan,dann,01-005-2-III-Eis.csv,627,651,621,Da,0.333333
3,gekricht,gekriegt,01-005-2-III-Eis.csv,2,15,2,gekriegt,0.012515
4,leken,lecken,01-005-2-III-Eis.csv,14,17,14,lecken,0.476719
5,felt,fällt,01-005-2-III-Eis.csv,93,198,90,fällt,1.000000
6,wolte,wollte,01-005-2-III-Eis.csv,173,201,173,wollte,1.000000
7,lekt,leckt,01-005-2-III-Eis.csv,20,42,19,leckt,1.000000
8,fom,vom,01-005-2-III-Eis.csv,13,16,13,vom,1.000000
9,gawen,kaufen,01-006-2-III-Eis.csv,1,6,1,garen,0.413648
10,din,ein,01-006-2-III-Eis.csv,2,26,1,drin,0.500000
11,Keld,Geld,01-006-2-III-Eis.csv,1,5,1,Geld,0.352232
12,man,Mann,01-006-2-III-Eis.csv,79,132,79,Mann,1.000000
13,gien,gehen,01-006-2-III-Eis.csv,1,78,1,ging,1.000000
14,nahaise,nachhause,01-006-2-III-Eis.csv,1,10,1,nachweise,0.072276
15,esen,essen,01-006-2-III-Eis.csv,22,14,12,Essen,0.500000
16,aba,aber,01-006-2-III-Eis.csv,21,60,21,aber,1.000000
17,gieben,geben,01-006-2-III-Eis.csv,1,3,1,Kienen,0.085412
18,wollt,wollte,01-006-2-III-Eis.csv,2,201,2,wollt,0.657316
19,feid,fällt,01-006-2-III-Eis.csv,1,198,1,feit,0.461679

In [10]:
# Merge
merged = token.merge(norma_error_types, on=['original', 'corrected','freq_ori', 'freq_cor', 'freq_tup'], suffixes=('', '_y'))

In [11]:
merged.head(10)
#merged.shape[0]

,original,corrected,filename,freq_ori,freq_cor,freq_tup,filename_y,suggestions,confidence
0,belt,bellt,01-005-2-III-Eis.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5
1,belt,bellt,01-338-2-III-Eis.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5
2,belt,bellt,01-355-2-III-Eis.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5
3,belt,bellt,02-220-2-IV-Weg.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5
4,belt,bellt,02-443-2-IV-Weg.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5
5,belt,bellt,02-468-2-IV-Weg.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5
6,belt,bellt,03-291-3-I-Frosch.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5
7,belt,bellt,03-294-3-I-Frosch.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5
8,belt,bellt,03-329-3-I-Frosch.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5
9,belt,bellt,03-329-3-I-Frosch.csv,91,138,91,01-005-2-III-Eis.csv,Bild,0.5

In [12]:
merged.drop(columns=['filename_y', 'confidence'], inplace=True)

In [13]:
merged.head(10)
merged.tail(20)
#type(list(['hallo']))

,original,corrected,filename,freq_ori,freq_cor,freq_tup,suggestions
24581,bemerkde,bemerkte,10-682-4-IV-Weg.csv,1,6,1,bemerkte
24582,hängde,hängte,10-682-4-IV-Weg.csv,1,23,1,hängte
24583,Kugde,kuckte,10-682-4-IV-Weg.csv,1,43,1,Kugel
24584,bedankde,bedankte,10-682-4-IV-Weg.csv,1,5,1,bedankte
24585,LoLie,Lolli,10-682-4-IV-Weg.csv,1,259,1,Lilie
24586,stockchen,Stöckchen,10-692-4-IV-Weg.csv,1,1,1,stocken
24587,Bielder,Bilder,10-692-4-IV-Weg.csv,1,8,1,Bilder
24588,ieh,ich,10-693-4-IV-Weg.csv,1,11,1,ich
24589,aufgeh.passt,aufgepasst,10-693-4-IV-Weg.csv,1,4,1,aufgepasst
24590,hette,hätte,10-693-4-IV-Weg.csv,1,5,1,hatte
24591,Telefen,Telefon,10-693-4-IV-Weg.csv,1,39,1,Telefon
24592,aufzumunter,aufzumuntern,10-693-4-IV-Weg.csv,1,1,1,aufzumuntern
24593,Ungefär,Ungefähr,10-693-4-IV-Weg.csv,1,1,1,Ungefähr
24594,nooh,noch,10-693-4-IV-Weg.csv,1,15,1,noch
24595,nieht,nicht,10-693-4-IV-Weg.csv,2,135,2,nicht
24596,nieht,nicht,10-693-4-IV-Weg.csv,2,135,2,nicht
24597,vessen,fassen,10-693-4-IV-Weg.csv,1,2,1,wessen
24598,Tor,Tür,10-693-4-IV-Weg.csv,1,15,1,tue
24599,mutzte,nutzte,10-693-4-IV-Weg.csv,1,1,1,nutzte
24600,momen,Moment,10-693-4-IV-Weg.csv,1,4,1,Moment

## Evaluation

In [15]:
import sys
sys.path.insert(0, '../../Lisa')
import litkey_2
import helpers_litkey_2 as helpers

In [16]:
# Prep
merged.reset_index(drop=True, inplace=True)
norma_error_types.reset_index(drop=True, inplace=True)

# Needed, because there is one NaN
merged.suggestions.fillna(value='',inplace=True)
norma_error_types.suggestions.fillna(value='',inplace=True)

In [ ]:
# Convert String into List containing the String
#merged.suggestions = [list([x]) for x in merged.suggestions]
#norma_error_types.suggestions = [list([x]) for x in norma_error_types.suggestions]

In [ ]:
# Evaluation

In [17]:
token_eval_cs = litkey_2.evaluate_norma(merged, lower_case=False)

  0%|          | 0/24601 [00:00<?, ?it/s]

In [18]:
token_eval_lc = litkey_2.evaluate_norma(merged, lower_case=True)

  0%|          | 0/24601 [00:00<?, ?it/s]

In [19]:
types_eval_cs = litkey_2.evaluate_norma(norma_error_types, lower_case=False)

  0%|          | 0/9484 [00:00<?, ?it/s]

In [20]:
types_eval_lc = litkey_2.evaluate_norma(norma_error_types, lower_case=True)

  0%|          | 0/9484 [00:00<?, ?it/s]

In [21]:
token_eval_cs.head(2)
print(token_eval_cs[token_eval_cs.in_sugg].shape[0])
print(token_eval_lc[token_eval_lc.in_sugg].shape[0])

12862
14137

In [22]:
print(types_eval_cs[types_eval_cs.in_sugg].shape[0])
print(types_eval_lc[types_eval_lc.in_sugg].shape[0])

4274
4613

In [23]:
# Export
token_eval_cs.to_pickle('./data_error_token_norma_hunspell_evaluation_cs_new.pkl')
token_eval_lc.to_pickle('./data_error_token_norma_hunspell_evaluation_lc_new.pkl')

In [24]:
types_eval_cs.to_pickle('./data_error_types_norma_hunspell_evaluation_cs_new.pkl')
types_eval_lc.to_pickle('./data_error_types_norma_hunspell_evaluation_lc_new.pkl')